fastapi
python-multipart
uvicorn
langchain
chromadb
asyncio
langchain_core
langchain_chroma
langchain_ollama
open-clip-torch
torch
transformers
pypdf
requests
uuid
pydantic
typing
python-docx
langchain_community
Pillow
